.container{
    margin: 0 auto;
    width: 480px;    
}

.messegeBox{
   
    width: 480px;
    position: fixed;
    margin-bottom: 1vh ;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sendBox{
    background-color: var(--header-background-Color);
    width: 400px;
    height: 6vh;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: var(--icon-color2);
    font-size: 24px;
}
.messegeBoxInput{
    height: 4vh;
    background: transparent;
    border: none;
    outline: none;
    caret-color: var(--icon-color2);
    color: var(--text-color);
    font-size: 18px;
}

.sentBtn{
    color: var(--text-color);
    font-size: 20px;
    background-color: var(--header-background-Color);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}